In [1]:
import pandas as pd

data = pd.read_parquet("/home/iqrorjoon/PycharmProjects/pandas all functions/base/simple_parquet.parquet")

print(data)

      registration_dttm    id first_name last_name                     email  \
0   2016-02-03 07:55:29     1     Amanda    Jordan          ajordan0@com.com
1   2016-02-03 17:04:03     2     Albert   Freeman           afreeman1@is.gd
2   2016-02-03 01:09:31     3     Evelyn    Morgan   emorgan2@altervista.org
3   2016-02-03 00:36:21     4     Denise     Riley          driley3@gmpg.org
4   2016-02-03 05:05:31     5     Carlos     Burns  cburns4@miitbeian.gov.cn
..                  ...   ...        ...       ...                       ...
995 2016-02-03 10:30:59   996     Dennis    Harris      dharrisrn@eepurl.com
996 2016-02-03 17:16:53   997     Gloria  Hamilton    ghamiltonro@rambler.ru
997 2016-02-03 05:02:20   998      Nancy    Morris         nmorrisrp@ask.com
998 2016-02-03 02:41:32   999      Annie   Daniels    adanielsrq@squidoo.com
999 2016-02-03 09:52:18  1000      Julie     Meyer       jmeyerrr@flavors.me

     gender       ip_address                cc       country  birthdate  \
0    Female      1.197.201.2  6759521864920116     Indonesia   3/8/1971
1      Male   218.111.175.34                          Canada  1/16/1968
2    Female     7.161.136.94  6767119071901597        Russia   2/1/1960
3    Female    140.35.109.83  3576031598965625         China   4/8/1997
4             169.113.235.40  5602256255204850  South Africa
..      ...              ...               ...           ...        ...
995    Male  178.180.111.236   374288806662929        Greece   7/8/1965
996  Female     71.50.39.137                           China  4/22/1975
997            6.188.121.221  3553564071014997        Sweden   5/1/1979
998  Female    97.221.132.35    30424803513734         China  10/9/1991
999  Female    217.1.147.132   374288099198540         China

        salary                   title comments
0     49756.53        Internal Auditor    1E+02
1    150280.17           Accountant IV
2    144972.51     Structural Engineer
3     90263.05  Senior Cost Accountant
4          NaN
..         ...                     ...      ...
995  263399.54                  Editor
996   83183.54   VP Product Management
997        NaN        Junior Executive
998   18433.85                  Editor        â€‹
999  222561.13

[1000 rows x 13 columns]