In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

functions = [i for i in dir(pd.ExcelFile) if i[:1] != '_']

for i, v in enumerate(functions):
    print(i, v)

0 ODFReader
1 OpenpyxlReader
2 PyxlsbReader
3 XlrdReader
4 book
5 close
6 parse
7 sheet_names

In [26]:
# !pip install odfpy
data = pd.ExcelFile("./Book1.xlsx")
pd.read_excel(data)

,House Age (years),Distance to Station (meters),Price per Square Foot,Unnamed: 3,Sum
0,32.0,84.87882,75.8,NaN,Mean
1,19.5,306.59470,84.4,NaN,Median
2,13.3,561.98450,94.6,NaN,Mode
3,13.3,561.98450,109.6,NaN,St. Deviation
4,5.0,390.56840,86.2,NaN,Variance
5,7.1,2175.03000,64.2,NaN,NaN
6,34.5,623.47310,80.6,NaN,NaN
7,20.3,287.60250,93.4,NaN,NaN
8,31.7,5512.03800,37.6,NaN,NaN
9,17.9,1783.18000,44.2,NaN,NaN
10,34.8,405.21340,82.8,NaN,NaN
11,6.3,90.45606,116.2,NaN,NaN
12,13.0,492.23130,78.6,NaN,NaN
13,20.4,2469.64500,47.6,NaN,NaN
14,13.2,1164.83800,68.6,NaN,NaN
15,35.7,579.20830,101.0,NaN,NaN
16,0.0,292.99780,140.2,NaN,NaN
17,17.7,350.85150,74.8,NaN,NaN
18,16.9,368.13630,84.6,NaN,NaN
19,1.5,23.38284,95.4,NaN,NaN
20,4.5,2275.87700,58.6,NaN,NaN
21,10.5,279.17260,103.2,NaN,NaN
22,14.7,1360.13900,49.2,NaN,NaN
23,10.1,279.17260,95.8,NaN,NaN
24,39.6,480.69770,77.6,NaN,NaN
25,29.3,1487.86800,54.0,NaN,NaN
26,3.1,383.86240,112.4,NaN,NaN
27,10.4,276.44900,67.2,NaN,NaN
28,19.2,557.47800,94.0,NaN,NaN
29,7.1,451.24380,114.2,NaN,NaN
30,25.9,4519.69000,44.2,NaN,NaN
31,29.6,769.40340,50.0,NaN,NaN
32,37.9,488.57270,68.4,NaN,NaN
33,16.5,323.65500,98.6,NaN,NaN
34,15.4,205.36700,110.2,NaN,NaN
35,13.9,4079.41800,54.6,NaN,NaN
36,14.7,1935.00900,45.8,NaN,NaN
37,12.0,1360.13900,50.6,NaN,NaN
38,3.1,577.96150,95.4,NaN,NaN
39,16.2,289.32480,92.4,NaN,NaN
40,13.6,4082.01500,31.8,NaN,NaN
41,16.8,4066.58700,36.4,NaN,NaN
42,36.1,519.46170,69.4,NaN,NaN
43,34.4,512.78710,68.2,NaN,NaN
44,2.7,533.47620,107.8,NaN,NaN
45,36.6,488.81930,76.6,NaN,NaN
46,21.7,463.96230,84.0,NaN,NaN
47,35.9,640.73910,123.0,NaN,NaN
48,24.2,4605.74900,26.8,NaN,NaN
49,29.4,4510.35900,26.4,NaN,NaN

In [60]:
data = pd.ExcelFile("./file_example_ODS_10.ods")
data.ODFReader.__doc__

'\nRead tables out of OpenDocument formatted files.\n\nParameters\n----------\nfilepath_or_buffer : str, path to be parsed or\n    an open readable stream.\nstorage_options : dict, optional\n    Extra options that make sense for a particular storage connection, e.g.\n    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs\n    are forwarded to ``urllib.request.Request`` as header options. For other\n    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are\n    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more\n    details, and for more examples on storage options refer `here\n    <https://pandas.pydata.org/docs/user_guide/io.html?\n    highlight=storage_options#reading-writing-remote-files>`_.\n'

In [61]:
data = pd.ExcelFile.OpenpyxlReader("./Book1.xlsx")
data.parse()

,House Age (years),Distance to Station (meters),Price per Square Foot,Unnamed: 3,Sum
0,32.0,84.87882,75.8,NaN,Mean
1,19.5,306.59470,84.4,NaN,Median
2,13.3,561.98450,94.6,NaN,Mode
3,13.3,561.98450,109.6,NaN,St. Deviation
4,5.0,390.56840,86.2,NaN,Variance
5,7.1,2175.03000,64.2,NaN,NaN
6,34.5,623.47310,80.6,NaN,NaN
7,20.3,287.60250,93.4,NaN,NaN
8,31.7,5512.03800,37.6,NaN,NaN
9,17.9,1783.18000,44.2,NaN,NaN
10,34.8,405.21340,82.8,NaN,NaN
11,6.3,90.45606,116.2,NaN,NaN
12,13.0,492.23130,78.6,NaN,NaN
13,20.4,2469.64500,47.6,NaN,NaN
14,13.2,1164.83800,68.6,NaN,NaN
15,35.7,579.20830,101.0,NaN,NaN
16,0.0,292.99780,140.2,NaN,NaN
17,17.7,350.85150,74.8,NaN,NaN
18,16.9,368.13630,84.6,NaN,NaN
19,1.5,23.38284,95.4,NaN,NaN
20,4.5,2275.87700,58.6,NaN,NaN
21,10.5,279.17260,103.2,NaN,NaN
22,14.7,1360.13900,49.2,NaN,NaN
23,10.1,279.17260,95.8,NaN,NaN
24,39.6,480.69770,77.6,NaN,NaN
25,29.3,1487.86800,54.0,NaN,NaN
26,3.1,383.86240,112.4,NaN,NaN
27,10.4,276.44900,67.2,NaN,NaN
28,19.2,557.47800,94.0,NaN,NaN
29,7.1,451.24380,114.2,NaN,NaN
30,25.9,4519.69000,44.2,NaN,NaN
31,29.6,769.40340,50.0,NaN,NaN
32,37.9,488.57270,68.4,NaN,NaN
33,16.5,323.65500,98.6,NaN,NaN
34,15.4,205.36700,110.2,NaN,NaN
35,13.9,4079.41800,54.6,NaN,NaN
36,14.7,1935.00900,45.8,NaN,NaN
37,12.0,1360.13900,50.6,NaN,NaN
38,3.1,577.96150,95.4,NaN,NaN
39,16.2,289.32480,92.4,NaN,NaN
40,13.6,4082.01500,31.8,NaN,NaN
41,16.8,4066.58700,36.4,NaN,NaN
42,36.1,519.46170,69.4,NaN,NaN
43,34.4,512.78710,68.2,NaN,NaN
44,2.7,533.47620,107.8,NaN,NaN
45,36.6,488.81930,76.6,NaN,NaN
46,21.7,463.96230,84.0,NaN,NaN
47,35.9,640.73910,123.0,NaN,NaN
48,24.2,4605.74900,26.8,NaN,NaN
49,29.4,4510.35900,26.4,NaN,NaN

In [71]:
# !pip install pyxlsb
data = pd.ExcelFile.PyxlsbReader("./Book1.xlsx")

In [95]:
# !pip install xlrd
# !python -m pip install --upgrade pip
print(pd.ExcelFile.XlrdReader.__doc__)

None

In [109]:
data = pd.ExcelFile("./Financial Sample.xlsx")
data.book.views

[<openpyxl.workbook.views.BookView object>
 Parameters:
 visibility='visible', minimized=False, showHorizontalScroll=True, showVerticalScroll=True, showSheetTabs=True, xWindow=0, yWindow=0, windowWidth=21570, windowHeight=8145, tabRatio=600, firstSheet=0, activeTab=0, autoFilterDateGrouping=True]

In [111]:
data = pd.ExcelFile("./Book1.xlsx")
data.close()
data

In [112]:
data = pd.ExcelFile("./Financial Sample.xlsx")
data.parse()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [113]:
data = pd.ExcelFile("./Financial Sample.xlsx")
data.sheet_names

['Sheet1']